jsconfig.json

.idea/

*.log
*~
.#*
.ensime
.ensime_cache/
.org-id-locations
\#*
\#*\#
auto-save-list
custom.el
emacs-config.el
org-clock-save.el
org-mode-config.el
url/

.DS_Store

[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

GPATH
GTAGS
GRTAGS
